body{
    background-image: url("Horoscope Pictures/galaxy.png");
    background-size: cover;
    
}

div,section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color:white;
    text-align: center;
   font-family: 'Dancing script';
   font-size: 100px;
}


.Zodiac img{
    width:400px;
    height: 400px;
    margin-top:20px;
}

.hidden{
   display:none;
}

p{
    color:white;
    text-align: center;
   font-family: 'Dancing script';
   font-size: 40px;
}

button{
    text-align: center;
    color:purple;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Dancing script';
    margin-top: 20px;
}

input{
    font-family: 'Dancing script';
    text-align: center;
    color:purple;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30%;
}

/*Media query for iphone*/
@media only screen and (max-width: 390px) {
    h1 {
      font-size: 60px;
    }
  
    .Zodiac img {
      width: 300px;
      height: 300px;
    }
  
    p {
      font-size: 30px;
    }
  
    button {
      font-size: 30px;
    }
  
    input {
      font-size: 24px;
    }
  }

/* Media query for iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
      font-size: 80px;
    }
  
    .Zodiac img {
      width: 350px;
      height: 350px;
    }
  
    p {
      font-size: 35px;
    }
  
    button {
      font-size: 35px;
    }
  
    input {
      font-size: 28px;
    }
  }  
